// Define variables for your color scheme
// For example:
$black:#000000;
$dark-grey: #252525;
$grey: #363636;
$light-grey: #808080;
$white: #FCFCFC;
$blue: #006EE6;
$dark-blue:#0050a5;
$red: #a50019;
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(50, 197, 21);
$light-gray: #F4F4F4;
.black {
    color: $black;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.grey {
    color: $grey;
}

.grey {
    color: $grey;
}

.light-grey {
    color: $light-grey;
}

.white {
    color: $white;
}