// Define variables for your color scheme
// For example:
$black: #252525;
$dark-grey: #363636;
$grey: #808080;
$white: #FCFCFC;
$blue: #006EE6;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(21, 197, 130);
$light-gray: #F4F4F4;