// Specific CSS for your home-page
.map-container {
    height: 723px;
    width: 100vw;
}

.popup {
    position: absolute;
    z-index: 999999999;
    width: 100vw;
    height: 50vh;
    background-color: $dark-grey;
    color: $white;
    border-radius: 46px;
}

.hide-popup {
    display: none;
}