<div class="bottom_nav" data-controller="toggle">
  <a href="#"><i class="fa-solid fa-house fa-sm item_left item"></i></a>
  <a href="#"><i class="fa-regular fa-image fa-sm item_right item"></i></a>
  <span class="btn-plus" data-action="click->toggle#toggle"><i class="fa-solid fa-plus fa-sm plus-icon"></i></span>
  <a href="#"><i class="fa-regular fa-comments fa-sm item_left item"></i></a>
  <a href="#"><i class="fa-solid fa-gear fa-sm item_right item"></i></a>

  <div class="popup hide-popup" data-toggle-target="popup">
    <h2 class="h2">Create a new Party</h2>
    <%= link_to"Homeparty", root_path, class:"homeparty"   %>
      <%# link needs to change %>
    <p style="margin-top: 16px;">- or -</p>
    <%= link_to"Select Location", new_party_path, class:"select-location"%>
  </div>
</div>
