<div class="bottom_nav">
  <a href="#"><i class="fa-solid fa-house fa-sm item_left item"></i></a>
  <a href="#"><i class="fa-regular fa-image fa-sm item_right item"></i></a>
  <a href="#"class="btn-plus"><i class="fa-solid fa-plus fa-sm plus-icon"></i></a>
  <a href="#"><i class="fa-regular fa-comments fa-sm item_left item"></i></a>
  <a href="#"><i class="fa-solid fa-gear fa-sm item_right item"></i></a>
</div>
