
<div class="banner">
  <div class="inner-text">
    <div class="welcome-container">
      <h1> Welcome to Hangover  </h1>
      <div class="p-tag">
        <p>All what you need for the organisation of a perfect party combined in one app</p>
        <%= link_to "Let`s party", new_user_session_path, class:"button-sign-in" %>
      </div>
    </div>
  </div>
</div>
