
<div class="banner">
  <div class="welcome-container">
    <h1> Welcome to Hangover  </h1>
    <p>All what you need for the organisation of a perfect party combined in one app</p>

    <%= link_to "Log-in", new_user_session_path, class:"button-sign-in" %>
  </div>
</div>
