<div class="d-flex flex-column justify-content-around align-items-center">
  <h1 class="text-center m-4">Feed</h1>
  
</div>
<% @posts.each do |post| %>
  <div class="post">
    <%= image_tag post.photos.first %>
    <%= image_tag post.photos.last, class: "small-image" %>
    <i class="fa-regular fa-heart heart fa-2xl"></i>
  </div>
  <% end %>
