.bottom_nav {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 60.5px;
    background-color: $black;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.btn-plus {
    background-color: $blue;
    border-radius: 50%;
    height: 60.5px;
    width: 60.5px;
    position: absolute;
    top: -2rem;
    margin-inline: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px $grey;
}

.plus-icon {
    color: $white;
}

.item_right {
    margin-right: 25px;
}

.item_left {
    margin-left: 25px;
}

.item {
    color: $white;
}

.fa-sm {
    font-size: 26px !important;
}

.popup {
    color: $white;
    text-align: center;
}

.select-location {
    background-color: $blue;
    color: $white;
    text-decoration: none;
    border-radius: 50px;
    width: 94px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 0px;
    font-size: 20px;
}

.homeparty {
    background-color: $grey;
    color: $white;
    text-decoration: none;
    border-radius: 25px;
    width: 94px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black;
    a {
        text-decoration: none;
    }
}

.h2 {
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: left;
    margin-left: 30px;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}