.notification {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background: $grey;
    padding: 8px 16px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.notification .notification-content {
    flex-grow: 1;
    padding: 0 24px;
    h2 {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
    }
}

.notification p {
    margin: 0;
    line-height: 1.4;
}

.notification small {
  color: $white;
  font-weight: bold;
  opacity: 0.8;
}

ul {
    list-style-type: none;
    padding: 1rem;
}

#text-alignment {
    margin-left: 39px;
    margin-top: 10px;
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    width: 165%;
    position: relative;
    left: -39px;
    margin-top: 10px;
}

#h2-chatroom {
    color: $white;
    font-weight: 900;
}

.avatar-large {
    margin-bottom: 50px;
}